/* Services */
section {
	padding-top: 100px;
	padding-bottom: 100px;
	width: 80%;
	margin: auto;
}
#services {
	background-color: #F2FAF5;
}
.services {
	min-width: 29%;
	height: 23%;
/*	max-height: 415px;*/
	margin-top: 50px;
}
.certain_service {
	display: flex;
	gap: 30px;
	overflow-x: auto;
	min-height: max-content;
	padding-bottom: 50px;
}
#services__third-header {
	font-size: 25px;
}
.services h3 { font: 24px 'Neue Machina' }
.services h2 { font: bold 30px 'Neue Machina'; }
.services p {
	font: 18px 'TT Norms Pro Regular';
	margin: 0 0 40px 0;
}
.services button {
	width: 50%;
	height: 40px;
	border: none;
	background-color: #32533D;
	color: #fff;
	font-family: 'Neue Machina';
	font-size: 18px;
}
.services button:hover { opacity: 0.8; cursor: pointer; }
/* ________ */