/* Contacts */
#contacts { 
	background: url(../assets/contacs_bg.jpg); 
	color: white;
	position: relative;
	min-height: 75vh;
}
#contacts h1 { font-size: 32px; }
#contacts p {
	font: 32px 'TT Norms Pro Regular';
	margin-top: 50px;
	margin-bottom: 19px;
}
#contacts h2 {
	font: bold 54px 'Neue Machina';
	margin: 0;
}
#contacts h3 {
	font: 32px 'Neue Machina';
	margin: 0;
}
#contacts section {
	z-index: 2;
	position: relative;
	padding-top: 40px;
}
#contacts__bg {
	min-height: inherit;
	width: 970px;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(50, 83, 61, 0.8);
	z-index: 1;
}
#map_pin {
	position: absolute;
	top: 33%;
	right: 11.4%;
}
/* ________ */