@import url(../fonts/tt-norms-pro-cufonfonts-webfont/style.css);
@import url(../fonts/Neue-Machina/stylesheet.css);

* { font-family: 'TT Norms Pro Regular'; }
a {
	text-decoration: none;
	color: #000;
}
#geoplus { font-weight: bold; }
body {
	margin: 0;
	padding: 0;
	position: relative;
}
h1 { margin: 0; }
ul { list-style: none; }
hr { margin: 0; }
section > h1 {	font: bold 54px 'Neue Machina'; }