/* Introduction */
#introduction { background: #32533D; color: #F2FAF5;}
#introduction h3 {
	font: 32px 'TT Norms Pro Regular';
}
#introduction button {
	border: none;
	background: #fff;
	width: 15%;
	height: 40px;
	font: 18px 'Neue Machina';
}
#introduction button:hover { opacity: 0.8; cursor: pointer;}
hr {
	margin-top: 80px;
	margin-bottom: 60px;
}
.introduction__numbers {
	display: flex;
	justify-content: space-around;
}
.number__type h1 {
	font: 120px 'TT Norms Pro Regular';
	text-align: center;
	color: #32533D;

	text-shadow: 
		-0   -2px 1px #83998B,
		 0   -2px 1px #83998B,
		-0    2px 1px #83998B,
		 0    2px 1px #83998B,
		-2px -0   1px #83998B,
		 2px -0   1px #83998B,
		-2px  0   1px #83998B,
		 2px  0   1px #83998B,
		-1px -2px 1px #83998B,
		 1px -2px 1px #83998B,
		-1px  2px 1px #83998B,
		 1px  2px 1px #83998B,
		-2px -1px 1px #83998B,
		 2px -1px 1px #83998B,
		-2px  1px 1px #83998B,
		 2px  1px 1px #83998B,
		-2px -2px 1px #83998B,
		 2px -2px 1px #83998B,
		-2px  2px 1px #83998B,
		 2px  2px 1px #83998B,
		-2px -2px 1px #83998B,
		 2px -2px 1px #83998B,
		-2px  2px 1px #83998B,
		 2px  2px 1px #83998B;
}
.number__type h2 {
	font: 48px 'Neue Machina';
	text-align: center;
	color: #83998B;
	margin-bottom: 0;
}
/* ____________ */